.yo{
    background-color: darkturquoise;
};
.soy{

    text-align: center;
}
.presentacion{
    margin: 50px;
}
/* .circulo{
    height: 250px;
    width: 250px;
} */
.titulo{
    text-align: center;
}
.card-img-top{
    height: 150px;
}